<div class="row">
  <h3>All Samples</h3>
  <% @samples.each do |sample| %>
    <div class="sample">
      <li>Date: <%= link_to "#{sample.date}", sample_path(sample) %></li>
    </div>
  <% end %>
  <div class="links">
    <div><%= link_to "Placeholder", root_path, class: 'button' %></div>
  </div>
</div>
