<div class="row">
  <h3>All Samples</h3>
  <% @samples.each do |sample| %>
    <li>
      <ul>
        <li>Date: <%= sample.date %></li>
      </ul>
    </li>
    <br>
  <% end %>
  <div class="links">
    <ul><%= link_to "back to home", root_path %></ul>
  </div>
</div>
