<div class="row">
  <div class="small-12 columns">
    <br><h3 class="button large">All Samples</h3></div>
  <div class="small-12 columns">
     <div class="datatable">
      <table id="samples" class="display">
          <thead>
              <tr>
                <th>Sample Date</th>
                <th>Added by</th>
              </tr>
          </thead>
          <tbody>
                <% @samples.each do |sample| %>
              <tr>
                <td><%= link_to "#{sample.date}", sample_path(sample) %></td>
                <td><%= sample.user.email %></td>
              </tr>
              <% end %>
          </tbody>
      </table>
      <br>
    </div>
</div>
    <div class="links">

    </div>
</div>
