<div class="row">
  <h3>All Transformers</h3>
  <ol>
  <% @transformers.each do |transformer| %>
    <li>
      Name: <%= link_to "#{transformer.name}", transformer_path(transformer.location) %> <br>
      Location: <%= link_to "#{transformer.location.name}", location_path(transformer.location) %>
    </li>
  <br>
  <% end %>
  </ol>
  <div class="links">
    <ul><%= link_to "back to home", root_path %></ul>
  </div>
</div>
