<div class="row">
  <h3>All Transformers</h3>
  <% @transformers.each do |transformer| %>
    <div class="transformer">
      <li>Name: <%= link_to "#{transformer.name}", transformer_path(transformer) %></li>
      <li>Location: <%= link_to "#{transformer.location.name}", location_path(transformer.location) %></li>
    </div>
  <% end %>
  <div class="links">
    <div><%= link_to "Placeholder", root_path, class: 'button' %></div>
  </div>
</div>
