<div class="row">
  <div class="small columns">
    <h3>All Transformers</h3>
    <div class="datatable">
      <table id="transformers" class="display">
        <thead>
            <tr>
                <th>Transformer Name</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
        <% @transformers.each do |transformer| %>
          <tr>
              <td><%= link_to "#{transformer.name}", transformer_path(transformer) %></td>
              <td><%= transformer.kind %></td>
          </tr>
        <% end %>
      </tbody>
      </table>
      <br>
    </div>
    <div class="links">
      <div><%= link_to "Placeholder", root_path, class: 'button' %></div>
    </div>
  </div>
</div>
