<div class="row">
  <div class="small columns">
    <br><h3 class="button large">All Transformers</h3>
    <div class="datatable">
      <table id="transformers" class="display">
        <thead>
            <tr>
                <th>Transformer Name</th>
                <th>Location</th>
                <th>Added by</th>
            </tr>
        </thead>
        <tbody>
        <% @transformers.each do |transformer| %>
          <tr>
              <td><%= link_to "#{transformer.name}", transformer_path(transformer) %></td>
              <td><%= transformer.location.name %></td>
              <td><%= transformer.user.email %></td>
          </tr>
        <% end %>
      </tbody>
      </table>
      <br>
    </div>
    <div class="links">

    </div>
  </div>
</div>
