<div class="row">
  <div class="small columns">
    <br><h3 class="button large">All Datafiles</h3>
    <div class="datatable">
      <table id="data_files" class="display">
          <thead>
              <tr>
                  <th>Data_files</th>
                  <th>Added by</th>
                  <th>Created on</th>
              </tr>
          </thead>
          <tbody>
    <% @data_files.each do |data_file| %>
      <tr>
          <td><%= link_to "#{data_file.name}", data_file_path(data_file) %></td>
          <td><%= data_file.user.email %></td>
          <td><%= data_file.created_at %></td>
      </tr>
      <% end %>
          </tbody>
      </table>
      <br>
    </div>

    <div class="links">
      <div><%= link_to "Upload new .csv file", new_data_file_path, class: 'button' %></div>
    </div>
  </div>
</div>
