<div class="row">
  <div class="columns">
    <br><h4 class="button">Datafile name: "<%= @data_file.name %>"</h4> <h4 class="button">Datafile uploaded by: <%= @data_file.user.email %></h4>
    <div id="data_file_chart"></div>
  </div>
</div>
