<div class="row">
  <div class="large-12 small-12 columns">
    <h1>Datafile show page</h1>
    <li>Datafile ID: <%= @data_file.id %></li>
    <li>Datafile uploaded by: <%= @data_file.user.email %></li>
    <li>Datafile CSV URL: <%= @data_file.csv_file %></li>
        <li>Datafile CSV URL: <%= @data_file.sample_id %></li>
</div>
