<div class="row">
  <div class="columns">
    <h1>Datafile show page</h1>
    <li>Datafile ID: <%= @data_file.id %></li>
    <li>Datafile uploaded by: <%= @data_file.user.email %></li>
    <div id="data_file_chart"></div>
  </div>
</div>
