
<div class="row">
  <div class="small columns">
    <h1>c3.js json test sandbox</h1>
    <div class="links">
    </div>
    <h3>keys json version: </h3>
    <div id="landing_page_chart"></div>
    <h3>working* hard coded json version:</h3>
    <div id="landing_page_chart2"></div>
    <h3>json url version:</h3>
    <div id="landing_page_chart3"></div>
    <h3>json multi key version:</h3>
    <div id="landing_page_chart4"></div>
  </div>
</div>
