<div class="row">
  <p>
    Mini Dissolved Gas Analysis for transformer substation engineers
<li>Visualize DGA sample data in a meaningful manner</li>
<li>Add new samples while in the field to check if values are within safety limits</li>
<li>Get alerts when samples outside of IEEE interpretation levels or personal user set limits are added</li>
  </p>

  <div><%=link_to "Graphs", graph_index_path %></div>
  <div><%=link_to "Data", graph_data_path %></div>
</div>
