
<div class="row">
  <div class="small columns">
    <h1>Mini Dissolved Gas Analysis Reference</h1>
    <div class="links">
      <%= link_to '<i class="fa fa-file-text"></i> Upload New .csv File'.html_safe, new_data_file_path, class: 'button' %>
      <%= link_to '<i class="fa fa-file-pdf-o"></i> View IEEE Standards PDF'.html_safe, '/ieeeguidelines.pdf', class: "button" %>
      <%= link_to '<i class="fa fa-cog fa-spin"></i> How to interpret graphs'.html_safe, about_index_path, class: 'button' %>
    </div>
    <div id="landing_page_chart"></div>
    <div id="landing_page_chart2"></div>
  </div>
</div>
