
<div class="row">
  <div class="small columns">
    <h1>c3.js json test sandbox</h1>
    <div class="links">
    </div>
    <h3>url linked json version: </h3>
    <div id="landing_page_chart"></div>
    <h3>working* hard coded json version:</h3>
    <div id="landing_page_chart2"></div>


  </div>
</div>
