<p>
  Modify me in `app/views/homes/index.html.erb` or change the root directive in
  `config/routes.rb`
</p>

<div><%=link_to "Graphs", graph_index_path %></div>
<div><%=link_to "Data", graph_data_path %></div>
