<div class="row">
  <div class="columns">
    <h3>About</h3>

    <div class="info">
      <ul>
        <div>- Designed for transformer substation engineers</div>
        <div>- Helps to visualize complex DGA sample data in a meaningful manner</div>
        <div>- Add new samples while in the field to confirm what type of maintenance is required.</div>
        <div>- Improves utility worker safety by alerting the user when a sample outside of recommended IEEE condition levels.</div>
      </ul>
    </div>
      <h2>How to read the charts:</h2>
      <h3>Sample DGA Single compound PPM Gauges</h3>
      <div id="sample_about_gauge"></div>
      <div>Gas level / PPM value displayed in center</div>
      <div>Maxiumum recommended value on the right</div>

      <h3>CSV Datafile Graph</h3>
      <div id="landing_page_chart"></div>
      <div>Track changes in sample data over many data points</div>
      <div>Use the zoom feature to more closely analyze problem datapoints</div>

      <br>
      <h3>Created By</h3>
          <%= link_to "Sam McGrail", "http://github.com/sammcgrail" %><br><br>
      </div>
    </div>
  </div>
</div>
