<div class="row">
  <div class="columns">
    <div class="about-section"><h3>About</h3></div>

    <div class="info">
      <ul>
        <div>- Designed for transformer substation engineers</div>
        <div>- Helps to visualize complex DGA sample data in a meaningful manner</div>
        <div>- Add new samples while in the field to confirm what type of maintenance is required.</div>
        <div>- Improves utility worker safety by alerting the user when a sample outside of recommended IEEE condition levels.</div>
      </ul>
    </div>

    <div class="about-section"><h3>Credit</h3></div>


    <div class="info">
      <ul>
        <li><%= link_to "Sam McGrail", "http://github.com/sammcgrail" %></li>
      </ul>
    </div>
    <div class="chartkicktest">
      <h2>Chart test area</h2>
      <%= bar_chart DataFile.group(:csv_file).count %>
      <%= timeline [
        ["Boston", "1", "2"],
        ["Miami", "2", "4"],
        ["Chicago", "5", "7"]
      ] %>
    </div>
  </div>
</div>
