// some colours
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
$darkblueaccent : #0d47a1;
$accentred      : #ef5350;

$success-color  : #0c5fa8;
$warning-color  : #ff5252;
$info-color     : #0c5fa8;

$lightgrey      : #c1c4ca;
$crimson        : #cc3333;

$start-rating   : #ffc107;
$white          : #ffffff;


// nav ul:hover {
//   background-color: #073964;
// }

// # TOP NAV #
.nav-divider {
  background-color: $darkblueaccent;
  height: 8px;
}

// # that flash msg stuf

.flash.flash-success,
.flash.flash-warning,
.flash.flash-notice {
  text-align: center;
  color: white;
  height: 30px;
  padding-top: 3px;
  margin-top: 15px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  border-radius: 20px;
}

.flash.flash-notice {
  background-color: $info-color;
}

.flash.flash-success {
  background-color: $success-color;
}

.flash.flash-warning {
  background-color: $warning-color;
}

.not_logged_in {
  text-align: center;
  padding-top: 50px;
}

// ####

// c3
#chart .c3-line {
  stroke-width: 2px;
}

#landing_page_chart .c3-line {
  stroke-width: 3px;
}


/// testing

// .logothing:hover {
//     background-color: #073964;
// }
